body{
    margin: 0;
    font-family: Smooch Sans,arial;
    font-size: 25px;
    background-color: #121212;
    color: #ffffff;
}
header{
    width: 100%;
    background: black;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    margin: auto;
}
header img {
    width: 200px;
}
header nav{
    float:right;
}
header nav ul{
    list-style: none;
}
header nav ul li {
    display: inline-block;
    margin: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    transition: all 0.5s;
    text-align: center;
}
header nav ul li a:hover {
    color:#f00;
}
header nav ul li div a {
    padding: 10px 15px;
    width:75px;
    color:#fff;
    background:red;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
}
header nav ul li div a:hover{
    color: black;
}
.banner2 {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.container img{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    margin-top: 0px;

}
main,footer p {
    text-align: center;
    
}
footer a {
    background:#fff;
    text-decoration: none;
    margin: 20px;
    color: red;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    transition: all 0.5s;
}
footer a:hover{
    background:red;
    color: #fff;
}
main form{
    display: grid;
    place-items: center;
}
main h1 a {
    color: #fff;
}
.menu {
    display: none;
}
.mostrar {
    display: block;
}
@media (max-width: 420px){
    body{
        width:100%;
    }
    .banner2 {
        display: inline-block;
    }
    header nav ul {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    header nav ul li {
        width: 100%;
    }
    header nav{
        display: none;
    }
    div img {
        width:100%;
        margin-top: 50%;
    }
    .menu{
        display: block;
        border: 1px solid #fff;
        padding: 10px 15px;
        color: #fff;
        float:right;
        margin-top: 15px;
        border-radius: 5px;
    }
}
